html
{
    background-image: url("http://www.cuiket.com.br//images/photo4.jpg");
}

body
{
    font-family: "Yu Gothic"; 
}

h1,h2
{
    /*text-decoration-color: #ffffff;*/
    color: #ffffff;
    text-shadow: 0 1px 0 #bbb,
    0 2px 0 #bbb,
    0 3px 0 #aaa,
    0 4px 0 #aaa,
    0 5px 0 #999,
    0 6px 1px #000,
    0 0px 3px #000,
    0 1px 3px #000,
    0 3px 5px #000,
    0 5px 10px #000,
    0 5px 20px #000;
    text-align: center;
}

/*h2
{
    color: #ffffff;
    text-shadow: 0 1px 0 #bbb,
    0 2px 0 #bbb,
    0 3px 0 #aaa,
    0 4px 0 #aaa,
    0 5px 0 #999,
    0 6px 1px #000,
    0 0px 3px #000,
    0 1px 3px #000,
    0 3px 5px #000,
    0 5px 10px #000,
    0 5px 20px #000;
    text-align: center;
}*/

#my_result
{
    display: block;
    margin: auto;
    width: 22.5%;   
}

#my_camera
{
    position: relative;
    margin:auto;
    display:block;
}

.phototake
{
    color: #ffffff;
    text-shadow: 0 1px 0 #bbb,
    0 2px 0 #bbb,
    0 3px 0 #aaa,
    0 4px 0 #aaa,
    0 5px 0 #999,
    0 6px 1px #000,
    0 0px 3px #000,
    0 1px 3px #000,
    0 3px 5px #000,
    0 5px 10px #000,
    0 5px 20px #000;
    position: relative;
    text-align: center;
}

.buttons
{
    position:relative;
    text-align: center;
    /*background-color: #4CAF50;*/
    /*border: none;*/
    color: green;
    /*padding: 15px 32px;*/
    /*text-align: center;*/
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}



.urlinput
{
    width: 600px;
}



table
{
    text-align: 'right';
    vertical-align: 'top';
    width: 300px;
}


#PhotoDiv{
  position: relative;
}


#Rectangle
{
    opacity: 0.5;
    z-index: 10;
    position: absolute;
    display: none;
}

