html
{
    /*background-image: url("http://www.cuiket.com.br//images/photo4.jpg");*/
    background-color: #3B3738;
}

body
{
    font-family: 'Titillium Web', sans-serif;

}

h1,h2,h3
{
    /*text-decoration-color: #ffffff;*/
    color: #FDF5EC;
/*    text-shadow: 0 1px 0 #bbb,
    0 2px 0 #bbb,
    0 3px 0 #aaa,
    0 4px 0 #aaa,
    0 5px 0 #999,
    0 6px 1px #000,
    0 0px 3px #000,
    0 1px 3px #000,
    0 3px 5px #000,
    0 5px 10px #000,
    0 5px 20px #000;*/
    text-align: center;
}

/*h2
{
    color: #ffffff;
    text-shadow: 0 1px 0 #bbb,
    0 2px 0 #bbb,
    0 3px 0 #aaa,
    0 4px 0 #aaa,
    0 5px 0 #999,
    0 6px 1px #000,
    0 0px 3px #000,
    0 1px 3px #000,
    0 3px 5px #000,
    0 5px 10px #000,
    0 5px 20px #000;
    text-align: center;
}*/

#my_result
{
    position: relative;
    text-align: center;
    margin:auto;
    display:block;

}

/*#my_result #rectangle{
    position: absolute;
    left: 300px;
    right:300px;
    opacity: 0.5;
    z-index: -999;
    display: none;
}
*/
#my_camera
{
    position: relative;
    margin:auto;
    display:block;
}

.phototake
{
    color: #ffffff;
/*    text-shadow: 0 1px 0 #bbb,
    0 2px 0 #bbb,
    0 3px 0 #aaa,
    0 4px 0 #aaa,
    0 5px 0 #999,
    0 6px 1px #000,
    0 0px 3px #000,
    0 1px 3px #000,
    0 3px 5px #000,
    0 5px 10px #000,
    0 5px 20px #000;*/
    position: relative;
    text-align: center;
}

.buttons
{
    position:relative;
    text-align: center;
    /*background-color: #4CAF50;
    /*border: none;*/
    color: #3B3738;
    /*padding: 15px 32px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    font-family: 'Titillium Web', sans-serif;
    /*display: inline-block;*/
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}



.urlinput
{
    width: 600px;
}


.result_div
{
    position: relative;
    text-align: center;
    margin:auto;
    display:block;
}


/*table
{
    text-align: 'right';
    vertical-align: 'top';
    width: 300px;
}*/


#PhotoDiv{
  position: relative;
  height: 50px;
}

.article{
    display: none;
}



