html
{
    background-color: #3B3738;
}

body
{
    font-family: 'Titillium Web', sans-serif;

}

h1,h2,h3
{
    color: #FDF5EC;
    text-align: center;
}

#my_result
{
    position: relative;
    text-align: center;
    margin:auto;
    display:block;

}


#my_camera
{
    position: relative;
    margin:auto;
    display:block;
}

.phototake
{
    color: #ffffff;
    position: relative;
    text-align: center;
}

.buttons
{
    position:relative;
    text-align: center;
    color: #3B3738;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    cursor: pointer;
}



.urlinput
{
    width: 600px;
}


.result_div
{
    position: relative;
    text-align: center;
    margin:auto;
    display:block;
}


#PhotoDiv{
  position: relative;
  height: 50px;
}

.article{
    display: none;
}


