body
{
    font-family: "Yu Gothic"; 
}


.urlinput
{
    width: 600px;
}

td.OutputTh
{
    text-align: left;
    vertical-align: top;
    width: 300px;
}

#PhotoDiv{
  position: relative;
}


#Rectangle
{
    opacity: 0.5;
    z-index: 10;
    position: absolute;
    display: none;
}